.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
}  


form{
    border: 1px solid #ccc; 
    padding: 15px; 
    border-radius: 8px;
}